$primary-color: #00bcd4;
$padstyle: 0.5rem;
$full: 100%;
$white: #fff;
$bg-color: #973939;
$text-color: #000;
$alpha: 0.9;
$bluecolor: rgba(32, 95, 211, 0.2);
$text-blue:#0a58ca;
$bg-light-gray:rgb(233, 231, 231);